<!-- Page header -->
<div ui-view="header"></div>
<!-- /.header -->
<!-- Page Container -->
<div id="container" class="row page-body">
    <div id="page" ui-view="page"></div>
</div>
<!-- /.container -->
<!-- Footer -->
<footer class="container-fluid footer">
    <div class="col-xs-12 no-pad">
    	<div class="col-xs-12 col-sm-3">
    		<div class="footer-title">Links</div>
    		<ul class="footer-content">
                <li class="footer-item"><a class="footer-link" ui-sref="home">Home</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-3">
    		<a class="footer-link"><div class="footer-title">Contact</div></a>
    		<ul class="footer-content">
    			<li class="footer-item"><a href="tel:+254790494370">0790494370</a></li>
    			<li class="footer-item"><a href="mailto:info@elewa.co.ke" target="_blank">info@elewa.co.ke</a></li>
    			<li class="footer-item">
    				<a class="social-media-icon" href="//www.facebook.com/pages/Elewa/650957661671691" target="_blank"><i class="fa fa-facebook-square"></i></a>
    				<a class="social-media-icon" href="//google.com/+ElewaKenya" target="_blank"><i class="fa fa-google-plus-square" target="_blank"></i></a>
    				<a class="social-media-icon" href="//twitter.com/elewa_ke" target="_blank"><i class="fa fa-twitter-square" target="_blank"></i></a>
    			</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-3">
    		<a class="footer-link" ><div class="footer-title">Address</div></a>
    		<ul class="footer-content">
    			<li class="footer-item">P.O. Box 383-00200<br/>Nairobi</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-3">
    		<div class="footer-title">Legal</div>
    		<ul class="footer-content">
                <li class="footer-item">Elewa Company Ltd. &copy; 2016</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 no-pad-left">
		<div class="col-xs-12 col-sm-6"></div>
		<div class="col-xs-12 col-sm-6 pull-right">
			<div class="footer-title">&nbsp;</div>
			<div class="pull-right">Powered by <a href="http://www.sawascript.co.ke" target="_blank"><img src="img/sawascript-logo.png" alt="Sawa Script Ltd."/></a></div>
		</div>
	</div>
</footer>
<!-- /.footer -->